<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CAFETERIA</title>
<link rel="stylesheet" href="/css/cafeteria.css">
<!-- jQuery -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<!-- HEADER --- NAVBAR -->
	<div th:insert="~{usuario/headerFooter.html::header}"></div>

	<!-- banner -->
	<div class="banerCafeteria"></div>
	<!-- PRODUCTOS -->

	<section class="container top-products">
		<h1 class="heading-1">Nuestros Cafés</h1>

		<div class="container-options">
			<a href="#clasico">Clásicos</a> <a href="#especiales">Especiales</a>
			<a href="#frios">Frios</a>
		</div>

		<h1 class="heading-2" id="clasico">Café Clásico</h1>
		<div class="container-products">

			<!-- Producto 1 -->
			<div class="producto-row">

				<div class="card-product" th:each="producto:${productosCafeClasico}" th:attr="data-id=${producto.idProductos}">
					<div class="container-img">
						<img class="product-img" th:src="@{/imagesProducts/{img} (img=${producto.imagen})}" alt="Cafe Viena" />
						<div class="button-group">
							<span> <i class="fa-regular fa-eye"></i>
							</span> <span> <i class="fa-regular fa-heart"></i>
							</span> <span> <i class="fa-solid fa-code-compare"></i>
							</span>
						</div>
					</div>
					<div class="content-card-product">
						<div class="stars">
							<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
						</div>
						<h3 class="product-title" th:text="${producto.nombre}"></h3>
						<span class="add-cart"> <!-- <i class="fa-solid fa-basket-shopping"></i> -->
							<div class="buttonProduct">
								<div class="button-wrapper">
									<div class="textProduct">Agregar al carrito</div>
									<span class="iconProduct"> <svg
											xmlns="http://www.w3.org/2000/svg" width="16" height="16"
											fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                      <path
												d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                    </svg>
									</span>
								</div>
							</div>
						</span>
						<p class="price" th:text="'S/ ' + ${producto.precio}"></p>
					</div>
				</div>
				
				
			</div>
		</div>

		<h1 class="heading-2" id="especiales">Café Especial</h1>
		<div class="producto-row">
			<div class="card-product" th:each="producto:${productosCafeEspecial}" th:attr="data-id=${producto.idProductos}">
				<div class="container-img">
					<img th:src="@{/imagesProducts/{img} (img=${producto.imagen})}" alt="Cafe Irish" class="product-img" />
					<div class="button-group">
						<span> <i class="fa-regular fa-eye"></i>
						</span> <span> <i class="fa-regular fa-heart"></i>
						</span> <span> <i class="fa-solid fa-code-compare"></i>
						</span>
					</div>
				</div>
				<div class="content-card-product">
					<div class="stars">
						<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
						<i class="fa-regular fa-star"></i>
					</div>
					<h3 class="product-title" th:text="${producto.nombre}"></h3>
					<span class="add-cart"> <!-- <i class="fa-solid fa-basket-shopping"></i> -->

						<div class="buttonProduct">
							<div class="button-wrapper">
								<div class="textProduct">Agregar al carrito</div>
								<span class="iconProduct"> <svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                        <path
											d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                      </svg>
								</span>
							</div>
						</div>
					</span>
					<p class="price" th:text="'S/ ' + ${producto.precio}"></p>
				</div>
			</div>
			
		</div>
	
		<!--  -->
		<h1 class="heading-2" id="frios">Café Frio</h1>
		<div class="producto-row">
			<div class="card-product" th:each="producto:${productosCafeFrio}" th:attr="data-id=${producto.idProductos}">
				<div class="container-img">
					<img class="product-img" th:src="@{/imagesProducts/{img} (img=${producto.imagen})}" alt="Cafe Irish" />
					<div class="button-group">
						<span> <i class="fa-regular fa-eye"></i>
						</span> <span> <i class="fa-regular fa-heart"></i>
						</span> <span> <i class="fa-solid fa-code-compare"></i>
						</span>
					</div>
				</div>
				<div class="content-card-product">
					<div class="stars">
						<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
						<i class="fa-regular fa-star"></i>
					</div>
					<h3 class="product-title" th:text="${producto.nombre}"></h3>
					<span class="add-cart"> <!-- <i class="fa-solid fa-basket-shopping"></i> -->
						<div class="buttonProduct">
							<div class="button-wrapper">
								<div class="textProduct">Agregar al carrito</div>
								<span class="iconProduct"> <svg
										xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                        <path
											d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                      </svg>
								</span>
							</div>
						</div>
					</span>
					<p class="price" th:text="'S/ ' + ${producto.precio}"></p>
				</div>
			</div>
			
		</div>
	</section>




	<!-- FOOTER -->
	<div th:insert="~{usuario/headerFooter.html::footer}"></div>




	<script src="/js/carrito.js"></script>
	<script src="https://kit.fontawesome.com/2f754fe3e7.js" crossorigin="anonymous"></script>
</body>
</html>