<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>HISTORIA</title>
<link rel="stylesheet" href="/css/historia.css" />
</head>
<body>
	<!-- HEADER --- NAVBAR -->
	<div th:insert="~{usuario/headerFooter.html::header}"></div>


	<!-- SLIDER -->
	<section class="slider">
		<img id="baner" class="cuadro" src="img/baner1.jpg" height="400px"
			width="100%" />
		<div class="overlay-text">
			<h1>Historia de Puma Coffee</h1>
		</div>
	</section>

	<!-- SECCION HISTORIA -->
	<div class="contenido-historia">
		<div class="hero">
			<div class="hero_content">
				<div class="descripcion-historia">
					<span> Puma Café es un proyecto trabajado por la <strong>Central
							Café y Cacao del Perú</strong>, asociación de segundo nivel que agrupa
						trece cooperativas cafetaleras con 10,000 productores de café y
						cacao; tiene como antecedentes las exportaciones de café Orgánico
						– Comercio Justo de nuestras bases cooperativas a los diferentes
						mercados del mundo, la Escuela de Catadores de Cafés Especiales,
						el Programa de certificación de Catadores Q Grader del CQI y
						nuestro laboratorio de Cafés Especiales certificado por la SCAA.<br />
						<br /> Puma Café nace el 2011, con el objetivo de llevar los
						mejores cafés peruanos al universo de consumidores en todo el
						Perú, construir una cadena de suministro basado en la calidad,
						desarrollar un canal comercial en el mercado interno que genere
						cultura cafetalera de calidad.<br /> <br /> Para desarrollar la
						marca, buscamos a los expertos Catadores, Baristas y Tostadores
						quienes con su orientación, conocimiento y experiencia hicieron
						aterrizar este proyecto que hoy se va consolidando como la marca
						referente del café peruano.<br /> <br /> Para asegurar la
						calidad del producto hemos implementado tecnología, certificado
						cada proceso, adquirido conocimientos en industria de tostado de
						cafés especiales; todo, con miras de brindar a nuestros
						consumidores un café con altos estándares de calidad; el concepto,
						es cortar la cadena, directo de la finca a la taza.<br /> <br />
						Hoy estamos desarrollando una cadena de suministro que contempla
						la distribución de café tostado de calidad y la implementación de
						una cadena de cafeterías bajo la marca Puma Café; la meta, tener
						cobertura nacional en el corto plazo y cobertura internacional en
						el mediano plazo.
					</span>
				</div>
			</div>
			<div class="hero_image">
				<img src="/img/historia1.jpg" alt="historia" />
			</div>
		</div>
	</div>
	<!-- ------ -->
	<div class="contenido-historia">
		<div class="hero fondo_historia">
			<div class="hero_content">
				<div class="titulo-historia">
					<span>¿Por qué Puma?</span>
				</div>
				<div class="descripcion-historia">
					<span> Según la historia peruana en la trilogía INCA, el
						puma representa la energía y la fuerza, un café tan cuidadosamente
						cultivado y procesado, que alcanza los más altos estándares de
						calidad; solo podría ser representado por una imagen igual de
						majestuosa y elegante: el PUMA. </span>
				</div>

				<div class="titulo-historia">
					<span>Certificaciones</span>
				</div>
				<div class="descripcion-historia">
					<span> Puma Café es el primer café con triple certificado en
						nuestro país, Orgánico, Especial y Comercio Justo (Sello de
						Pequeño Productor – SPP). La cadena de suministro tiene
						trazabilidad desde la finca del productor; Puma trabaja con
						productores especialistas en la producción de cafés finos y
						orgánicos, quienes son impulsores del proyecto y quienes reciben
						un precio justo por la calidad de café que producen. </span>
				</div>
			</div>

			<div class="hero_image certificaciones">
				<img src="/img/historia-certificado.png" alt="" /> <img
					src="/img/historia-certificado2.png" alt="" /> <img
					src="/img/historia-certificado3.png" alt="" />
			</div>
		</div>
	</div>
	<!-- ------ -->
	<div class="contenido-historia">
		<div class="hero">
			<div class="hero_content">
				<div class="titulo-historia">
					<span>Del campo a la taza</span>
				</div>
				<div class="descripcion-historia">
					<span> <strong>Proceso 100% saludable</strong><br>
						Directo sin intermediación, con trazabilidad, se controla cada
						etapa de producción: productor Puma, cosecha, proceso poscosecha,
						secado, almacenado en la finca, control de calidad, transporte,
						acopio en la cooperativa, transporte a Lima, proceso y selección,
						control de calidad, almacenado en la planta Puma, tostado, molido,
						envasado, embalado, distribución, consumo.
					</span>
				</div>
			</div>
			<div class="hero_image img_historia">
				<img src="/img/historia2.jpg" alt="historia" />
			</div>
		</div>
	</div>
	<!-- ------ -->
	<div class="contenido-historia">
		<div class="hero fondo_historia">
			<div class="hero_content">
				<div class="titulo-historia">
					<span>Primer café peruano con triple certificado, Justo,
						Especial, Orgánico</span>
				</div>
				<div class="descripcion-historia">
					<span> <strong>La más alta calidad</strong><br> Justo,
						porque el productor recibe un pago justo por su trabajo y la
						calidad que produce. Especial, porque ha sido evaluado por tres
						catadores Q Grader y registra un perfil de calidad de 83 a 84
						puntos. Orgánico, porque ha sido producido con buenas practicas
						agrícolas, libre de contaminantes químicos y protegiendo el medio
						ambiente.
					</span>
				</div>
			</div>
			<div class="hero_image img_historia">
				<img src="/img/historia3.jpg" alt="historia" />
			</div>
		</div>
	</div>
	<!-- ------ -->
	<div class="contenido-historia">
		<div class="hero">
			<div class="hero_content">
				<div class="titulo-historia">
					<span>Café inteligente</span>
				</div>
				<div class="descripcion-historia">
					<span> <strong>Armonía con la naturaleza</strong><br>
						Detrás de Puma hay familias cafetaleras que cuidan la tierra, el
						producto, el ambiente, los bosques, las aves y los animales
						silvestres; hay recursos humanos altamente especializados en la
						industria de café, productores, tostadores, catadores y Baristas;
						hay tecnologia moderna en la producción, proceso y preparación del
						café, hay procedimientos y estandares que permiten obtener un
						producto de alta calidad. Consumiendo Puma contribuyes al
						desarrollo del productor, producción limpia, comercio justo,
						cuidado del medio ambiente; consumes un producto de alta calidad,
						inocuo, saludable, nutraseutico, energetico.
					</span>
				</div>
			</div>
			<div class="hero_image img_historia">
				<img src="/img/historia4.jpg" alt="historia" />
			</div>
		</div>
	</div>
	<!-- ------ -->
	<div class="contenido-historia">
		<div class="hero fondo_historia">
			<div class="hero_content contenido">
				<div class="titulo-historia">
					<span>HACCP</span>
				</div>
				<div class="descripcion-historia">
					<span> <strong>Gestión de calidad</strong><br> Esta
						certificación garantiza la inocuidad del producto, compatible con
						la aplicación de sistema de gestión de calidad, de la serie ISO
						9000. Puma es producido con los estándares más altos de calidad
						basados en estas normas.
					</span>
				</div>
			</div>
			<div class="hero_image HACCP">
				<img src="/img/historia5.png" alt="historia" />
			</div>
		</div>
	</div>


	<!-- FOOTER -->

	<div th:insert="~{usuario/headerFooter.html::footer}"></div>


	<script src="/js/historia.js"></script>
	<script src="https://kit.fontawesome.com/2f754fe3e7.js" crossorigin="anonymous"></script>
	<script src="/js/carrito.js"></script>
</body>
</html>
